!!! 5
%html(lang="pl")
  %head
    %title= title(book)
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="stylesheet" type="text/css" href="/css/bootstrap.css")    
    %link(rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css")    
    %link(rel="stylesheet" type="text/css" href="/css/bible.css")    
  %body
    #wrap.container
      .row
        %h1 
          %a(href="/") Biblia Warszawska
        %h2= book.passage_name
      .row
        .span8
          - if book.passage.has_verses?
            %ol.verses{:start => book.first}
              - book.passage.verses.each do |verse|
                %li= verse
          - else
            %p.text-warning Nie ma wersetów w podanym zakresie
        .span4
          %form.form-horizontal(action="/" method="GET")
            %label(for="book")
              Księga
            %select{:id => "book", :name => "book"}
              - book.group_options.each do |group, options|
                %optgroup(label=group)
                  - options.each do |option|
                    %option{option.attributes}
                      = option.text
            %label(for="chapter")
              Rozdział
            %input{:type => "text", :id => "chapter", :name => "chapter", :value => book.chapter}
            
            %label(for="first")
              Pierwszy wiersz
            %input{:type => "text", :id => "first", :name => "first", :value => book.first}
            
            %label(for="last")
              Ostatni wiersz
            %input{:type => "text", :id => "last", :name => "last", :value => book.last}
            
            %input(type="submit" value="Pokaż")
      #push  
    #footer
      .container
        %ul.inline
          %li.muted
            Projekt wykonany przez
            %a(href="mailto:bragi@ragnarson.com") Łukasza Piestrzeniewicza
          %li.muted
            Kod dostępny jest na
            %a(href="http://github.com/bragi/bible") GitHub
            i dostępny jest na licencji MIT
          %li.muted
            Hostowane na
            %a(href="https://shellycloud.com/") Shelly Cloud
