!!! 5
%html(lang="pl")
  %head
    %title Bible
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css")    
    %link(rel="stylesheet" type="text/css" href="/css/bible.css")    
  %body
    .container
      %ol.verses{:start => passage.first}
        - passage.verses.each do |verse|
          %li= verse
