!!! 5
%html
  %head
    %title Bible
    %link(rel="stylesheet" type="text/css" href="/css/bootstrap.css")    
  %body
    %ol{:start => passage.first}
      - passage.verses.each do |verse|
        %li= verse
